/*
comment
*/

h1{
    font-family: 'TH SarabunPSK',Arial, Helvetica, sans-serif;
    font-size: 16cm;
    color: aqua;
}

.myfont{

}

.blueshade{
    color: blue;
}

.coRed{
    color: rgb(162, 162, 81);
}