/*
comment
*/

h1{
    font-family: 'TH SarabunPSK',Arial, Helvetica, sans-serif;
    font-size: 2cm;
    color: aqua;
}

.myfont{

}

.blueshade{
    color: blue;
}

.coRed{
    color: rgb(162, 162, 81);
}

.box p{
    margin-top: 45%;
}
.box{
    width: 400px;
    height: 400px;
    color: rgb(255, 255, 255);
    background-image: url('https://img2.pic.in.th/pic/-2023-12-17-221057.png');
    background-size: cover;
    text-align: center;
    border: 5px dashed rgb(0,255,0);
    padding-top: 10px;
    margin: 50px 25px;
}

.box:hover{
    background-color:rgb(118, 11, 82);
    box-shadow: 5px 10px rgb(0,255,255);

}
